body,
html,
header,
section,
div,
ul,
li,
div,
a,
p,
h1 {
    padding: 0;
    margin: 0;
    font-family: "宋体"
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*头部区域  导航栏*/

.hd {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hd .inner {
    width: 65%;
    height: 60px;
    margin: 0 auto;
}

.hd .logo {
    float: left;
    margin-top: 16px;
    margin-right: 20px;
}

.hd nav {
    float: left;
}

.hd nav li {
    float: left;
}

.hd nav li a {
    line-height: 60px;
    display: block;
    padding: 0 20px;
    color: #fff;
}

.hd nav li a:hover,
.hd nav li.active a {
    background: #FC0;
    color: rgba(0, 0, 0, 0.8)
}


/*第一页*/

.s1 {
    /*background:url(images/s1.jpg) center;*/
    overflow: hidden;
    background-color: #0c0c0c;
}

svg {
    display: block;
}


/*s1内容*/

header {
    background-color: #0c0c0c;
    /*height: 250px;*/
    /*min-height: */
    color: #f0f0f0;
}

header h1 {
    /*background-color: #d43f3a;*/
    text-align: center;
    line-height: 6;
}

header h1 span {
    display: block;
    margin: 10px;
    /*background-color: #d43f3a;*/
    text-align: center;
}

section {
    position: relative;
    padding: 10em 10%;
    background: #2980b9;
    color: #fff;
    text-align: center;
}

.s1 .ss-style-triangles {
    position: relative;
    padding: 10em 5%;
    background: #fc0;
    color: #0c0c0c;
    height: 100%;
}

.column_left {
    width: 50%;
    float: left;
    text-align: right;
    color: #1A1F28;
    /*background-color: #00a0e9;*/
}

.column_left h1 {
    margin: 1.8em;
    font-size: 2.4em;
}

.column_left p {
    line-height: 2;
    font-size: 1em;
}

.column_right {
    width: 50%;
    float: right;
    overflow: hidden;
    /*background-color: #00a0e9;*/
}

.column_right img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
}


/*---svg图像--*/


/*** Individual section styles and separators ***/


/* Common style for pseudo-elements */

section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}


/*----三角形-------------*/

.ss-style-triangles::before,
.ss-style-triangles::after {
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
    top: -50px;
    background: #FC0;
}


/*公共类*/

.section {
    height: 100%;
    overflow: hidden;
    color: #333;
}

.section .left {
    position: absolute;
    left: 5%;
    top: 36%;
    margin-top: -200px;
    z-index: 2;
}

.section .left li {
    float: left;
    margin-right: 20px;
    transition: 0.5s;
}

.section .left li p {
    /*background-color: #d0d6d6;*/
    padding: 15px;
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.section .right {
    position: absolute;
    right: 5%;
    top: 15%;
    text-align: right;
    z-index: 3
}

.section .right h1 {
    font-size: 34px;
    font-weight: 100;
}

.section .right p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section .right a {
    color: #ffffff;
    text-decoration: underline;
}

.section .right a:hover {
    text-decoration: none;
}

.section .bg {
    /*background-color: #3F0B1B;*/
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1
}


/*第二页*/

.section .left li .li_img_box {
    display: block;
    background-color: #000;
    padding: 1rem;
}
.box_shadow {
    -moz-box-shadow: 0.4px 0.4px 4px #b5b5b6;
    -webkit-box-shadow: 0.4px 0.4px 4px #b5b5b6;
    box-shadow: 0.4px 0.4px 4px #b5b5b6;
}
.li_img_box .li_img_box_inner {
    margin: 1rem;
    padding: 1rem;
    background-color: #da7071;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 6px;
}

.li_img_box:hover .li_img_box_inner {
    background-color: #fddc01;
    border-radius: 10px;
    color: #000;
}

.s2 .bg img {
    display: block;
    width: 100%;
    margin-right: 50%;
}

.s2 .left li {
    transition-delay: 0.2s;
}

.s2 .left li:nth-child(1) {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.s2 .left li:nth-child(2) {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}

.s2 .left li:nth-child(3) {
    -webkit-transform: translateX(-558px);
    transform: translateX(-558px)
}

.s2.active .left li {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}


/*第三页*/

.s3 {
    color: #ffffff;
    /*background-color: #0a833d;*/
}

.s3 .left ul li p {
    color: #ffffff;
}


/*.s3{*/


/*!*background:url(images/s3.jpg) center*!*/


/*}*/


/*.s3 .left li{ transition-delay:0.8s;}*/


/*.s3 .left li:nth-child(1){ -webkit-transform:translateX(0);transform:translateX(0)}*/


/*.s3 .left li:nth-child(2){ -webkit-transform:translateX(-279px);transform:translateX(-279px)}*/


/*.s3 .left li:nth-child(3){ -webkit-transform:translateX(-558px);transform:translateX(-558px)}*/


/*.s3.active .left li{ -webkit-transform:translateX(0);transform:translateX(0)}*/

.s3 {
    background: url(images/s5.jpg) center;
    perspective: 500px;
}

.s3 .left li {
    transform: translate3d(-1000px, -1000px, -500px) rotateX(145deg);
}

.s3 .left li:nth-child(1) {
    transition-delay: 0.8s;
}

.s3 .left li:nth-child(2) {
    transition-delay: 1s;
}

.s3 .left li:nth-child(3) {
    transition-delay: 1.2s;
}

.s3.active .left li {
    transform: translate3d(0, 0, 0px) rotateX(0deg)
}


/*第四页*/

@-webkit-keyframes move1 {
    0% {
        -webkit-transform: translate(330px, -1000px);
        transform: translate(330px, -1000px)
    }
    20% {
        -webkit-transform: translate(330px, 0px);
        transform: translate(330px, 0px)
    }
    40% {
        -webkit-transform: translate(330px, -50px);
        transform: translate(330px, -50px)
    }
    60% {
        -webkit-transform: translate(330px, 0px);
        transform: translate(330px, 0px)
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(330px, 0px)
    }
}

@keyframes move1 {
    0% {
        transform: translate(330px, -1000px)
    }
    20% {
        transform: translate(330px, 0px)
    }
    40% {
        transform: translate(330px, -50px)
    }
    60% {
        transform: translate(330px, 0px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@-webkit-keyframes move2 {
    0% {
        -webkit-transform: translate(0px, -1000px);
        transform: translate(0px, -1000px)
    }
    20% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
    40% {
        -webkit-transform: translate(0px, -50px);
        transform: translate(0px, -50px)
    }
    60% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}

@keyframes move2 {
    0% {
        transform: translate(0px, -1000px)
    }
    20% {
        transform: translate(0px, 0px)
    }
    40% {
        transform: translate(0px, -50px)
    }
    60% {
        transform: translate(0px, 0px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@-webkit-keyframes move3 {
    0% {
        -webkit-transform: translate(-330px, -1000px);
        transform: translate(-330px, -1000px)
    }
    20% {
        -webkit-transform: translate(-330px, 0px);
        transform: translate(-330px, 0px)
    }
    40% {
        -webkit-transform: translate(-330px, -50px);
        transform: translate(-330px, -50px)
    }
    60% {
        -webkit-transform: translate(-330px, 0px);
        transform: translate(-330px, 0px)
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}

@keyframes move3 {
    0% {
        transform: translate(-330px, -1000px)
    }
    20% {
        transform: translate(-330px, 0px)
    }
    40% {
        transform: translate(-330px, -50px)
    }
    60% {
        transform: translate(-330px, 0px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

.s4 {
    background: url(images/s4.jpg) center
}

.s4 .left li:nth-child(1) {
    -webkit-transform: translate(330px, -1000px);
    transform: translate(330px, -1000px)
}

.s4.active .left li:nth-child(1) {
    -webkit-animation: move1 2s 0.8s forwards;
    animation: move1 2s 0.8s forwards
}

.s4 .left li:nth-child(2) {
    -webkit-transform: translate(0px, -1000px);
    transform: translate(0px, -1000px)
}

.s4.active .left li:nth-child(2) {
    -webkit-animation: move2 2s 0.8s forwards;
    animation: move2 2s 0.8s forwards
}

.s4 .left li:nth-child(3) {
    -webkit-transform: translate(-330px, -1000px);
    transform: translate(-330px, -1000px)
}

.s4.active .left li:nth-child(3) {
    -webkit-animation: move3 2s 0.8s forwards;
    animation: move3 2s 0.8s forwards
}


/*第五页*/

.s5 {
    background: url(images/s5.jpg) center;
    perspective: 500px;
}

.s5 .left li {
    transform: translate3d(-1000px, -1000px, -500px) rotateX(145deg);
}

.s5 .left li:nth-child(1) {
    transition-delay: 0.2s;
}

.s5 .left li:nth-child(2) {
    transition-delay: 0.4s;
}

.s5 .left li:nth-child(3) {
    transition-delay: 0.6s;
}

.s5.active .left li {
    transform: translate3d(0, 0, 0px) rotateX(0deg)
}

.mail-to-me {
    height: 300px;
    width: 300px;
    background-color: #3F0B1B;
    margin-left: 50%;
    border-radius: 45%;
}

.mail-a {
    display: block;
    /*background-color: #00a7e7;*/
}

.five-con {
    background-color: #4BBFC3;
    height: 500px;
}

.five-con .text_svg {
    width: 50%;
    margin: 0 auto 50px;
    display: block;
    text-transform: uppercase;
}


/* Main stuff 文字特效必备 */

.content {
    margin-top: 20px;
    font: 800 14.5em/1 'Open Sans', Impact;
}

.text {
    fill: url("#gr-radial");
}


/* Main stuff 文字特效必备end-------------- */

.related {
    background: #ecf0f1;
    /*background-color: #1a181b;*/
    color: #777;
    text-align: center;
}


/* Clouds */

#clouds path {
    fill: #ecf0f1;
    stroke: #ecf0f1;
}


/* Media Queries for the layout */

@media screen and (max-width: 68em) {
    section {
        font-size: 80%;
    }
}

@media screen and (max-width: 54em) {
    .column {
        display: block;
        width: 100% !important;
    }
    .text:first-child,
    .text:nth-child(2) {
        text-align: center;
    }
    .icon {
        margin: 0 auto;
    }
    .col-2 .column:first-child .icon {
        margin: 0 auto 50px;
    }
    .col-2 .column:nth-child(2) .icon {
        margin: 50px auto 0;
    }
}


/*-------离开弹窗-------------*/

.modal-title h3 {
    height: 60px;
    line-height: 60px;
}

.modal-body {
    height: 100%;
    background: url("../images/thank.png") no-repeat center center;
}